services:
  mysql:
    container_name: mysql
    image: mysql:8.4.8
    environment:
      MYSQL_DATABASE: restmvcdb  
      MYSQL_USER: restadmin
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: verysecret
    ports:
      - "3306:3306"  
    expose:
      - "3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "restadmin", "-ppassword" ]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: apache/kafka:4.1.1
    container_name: kafka
    environment:
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:19093"

      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092,CONTROLLER://0.0.0.0:19093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092"

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"

      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_MIN_INSYNC_REPLICAS: 1
    ports:
      - "9092:9092"
      - "29092:29092"
    healthcheck:
      test: [ "CMD-SHELL", "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:29092 > /dev/null 2>&1" ]
      interval: 20s
      timeout: 5s
      retries: 10
      start_period: 60s

  auth-server:
    container_name: auth-server
    image: domboeckli/spring-6-auth-server:0.0.5-SNAPSHOT
    ports:
      - "9000:9000"
    expose:
      - 9000
    environment:
      SPRING_SECURITY_OAUTH2_AUTHORIZATION_SERVER_ISSUER: http://auth-server:9000

  rest-mvc:
    container_name: rest-mvc
    image: domboeckli/spring-6-rest-mvc:0.0.4-SNAPSHOT
    ports:
      - "8081:8081"
    expose:
      - 8081
    environment:
      SPRING_PROFILES_ACTIVE: mysql

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://auth-server:9000
      SECURITY_AUTH_SERVER_HEALTH_URL: http://auth-server:9000

      SERVER_PORT: 8081
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/restmvcdb
      LOGGING_LEVEL_ORG_APACHE_KAFKA_CLIENTS_NETWORKCLIENT: ERROR

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_KAFKA_ADMIN_PROPERTIES_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      mysql:
        condition: service_healthy
        required: true
      kafka:
        condition: service_healthy
        required: true
      auth-server:
        condition: service_started
        required: true

  gateway:
    container_name: gateway
    image: domboeckli/spring-6-gateway:0.0.3-SNAPSHOT
    expose:
      - 8080
    ports:
      - "8080:8080"
    environment:
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://auth-server:9000
      SPRING_PROFILES_ACTIVE: docker
      SERVER_PORT: 8080

      SECURITY_AUTH_SERVER_HEALTH_URL: http://auth-server:9000
      SECURITY_REACTIVEMONGO_HEALTH_URL: http://rest-mvc:8081 # by intention, we use the mvc route. This is a workaround to get up status
      SECURITY_MVC_HEALTH_URL: http://rest-mvc:8081
      SECURITY_REACTIVE_HEALTH_URL: http://rest-mvc:8081 # by intention, we use the mvc route. This is a workaround to get up status
      SECURITY_DATAREST_HEALTH_URL: http://rest-mvc:8081 # by intention, we use the mvc route. This is a workaround to get up status

      SECURITY_AUTHORIZATION_URL_FOR_OPENAPI: http://localhost:9000/oauth2/auth
      SECURITY_TOKEN_URL_FOR_OPENAPI: https://localhost:9000/oauth2/token
      SECURITY_REFRESH_URL_FOR_OPENAPI: https://localhost:9000/oauth2/refresh-token

      # more routes are needed here: actuator and openapi. See Gateway Project
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES[0]_ID: mvc_route
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES[0]_URI: http://rest-mvc:8081
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES[0]_PREDICATES[0]: Path=/api/v1/**

      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES[1]_ID: auth_route
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES[1]_URI: http://auth-server:9000
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES[1]_PREDICATES[0]: Path=/oauth2/**
    depends_on:
      auth-server:
        condition: service_started
        required: true
      rest-mvc:
        condition: service_started
        required: true      
        
  busybox:
    image: busybox:1.37.0
    container_name: busybox
    depends_on:
      auth-server:
        condition: service_started
        required: true
      rest-mvc:
        condition: service_started
        required: true
      gateway:
        condition: service_started
        required: true
    healthcheck:
      test: [ "CMD", "sh", "-c", "
            echo 'Checking BusyBox readiness...' &&
            test -f /bin/sh &&
            wget -qO- http://auth-server:9000/actuator/health/readiness | grep -q '\"status\":\"UP\"' &&
            wget -qO- http://rest-mvc:8081/actuator/health/readiness | grep -q '\"status\":\"UP\"' &&
            wget -qO- http://gateway:8080/actuator/health/readiness | grep -q '\"status\":\"UP\"'
          " ]
      start_period: 30s
      interval: 15s
      timeout: 5s
      retries: 10
    command: >
      /bin/sh -c '
      while true; do
        auth_health=$$(wget -q -O - http://auth-server:9000/actuator/health/readiness 2>/dev/null)
        mvc_health=$$(wget -q -O - http://rest-mvc:8081/actuator/health/readiness 2>/dev/null)
        gateway_health=$$(wget -q -O - http://gateway:8080/actuator/health/readiness 2>/dev/null)
      
        echo "{
          \"timestamp\": \"$$(date -Iseconds)\",
          \"services\": {
            \"auth-server\": $$auth_health,
            \"rest-mvc\": $$mvc_health,
            \"gateway_health\": $$gateway_health
          }
        }"
      
        sleep 30
      done
      '      
